<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Channels</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboards/dashboard_1">Home</a>
        </li>

        <li >
            Channels
        </li>

        <% if current_user.email == 'abrahanm@2becommerce.com' or current_user.email == 'r@2becommerce.com' or current_user.email == 'y@2becommerce.com' or current_user.email == 'jorge.enrique@2becommerce.com' or current_user.email == 'juanf@2becommerce.com' or current_user.email == 'nataliat@2becommerce.com' or current_user.email == 'luisa.mesa@2becommerce.com'%>
        <li>
            <strong><%= link_to 'Add New Channel', new_channel_path %></strong>

        </li>
        <%end%>
    </ol>
</div>
</div>

<br>
<div class="row">

<% @channels.each do |channel| %>

    <div class="col-lg-4">
        <div class="widget-head-color-box p-lg text-center" style=" background-color: <%= channel.color %>; color:white;">




        



            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                   <%= channel.nombre %>
                </h2>
               
                <br>
                <a href="#" class="btn btn-primary" style="font-size:20px;" ><%= channel.porcentaje %>%
                </a>
                
               
            </div>
            <img src="<%= channel.asset.url %>" class="img-circle circle-border m-b-md" alt="profile" style="width:150px; height:150px;">
            <div>
                <span><%= channel.dias %> Dias</span> |
                <span><%= channel.skus %> SKUs</span> |
                <span><%= channel.reviews %> Reviews</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">Próxima Revisión</h4>
            <p><%= channel.revision %></p>
            
            <div class="text-right">
               


        <% if current_user.email == 'abrahanm@2becommerce.com' or current_user.email == 'r@2becommerce.com' or current_user.email == 'y@2becommerce.com' or current_user.email == 'jorge.enrique@2becommerce.com' or current_user.email == 'juanf@2becommerce.com' or current_user.email == 'nataliat@2becommerce.com' or current_user.email == 'luisa.mesa@2becommerce.com'%>

                <%= link_to "Show", channel, class: "btn btn-xs btn-primary" %>

                <%= link_to 'Delete', channel, method: :delete, data: { confirm: 'Are you sure in delete this channel' }, class: "btn btn-xs btn-danger" %>

        <%end%>


                
            </div>
        </div>
    </div>

    <% end %>


</div>


 





<br><br><br><br>
    