<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @ventaunidad.mes %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @ventaunidad.valor %>
</p>

<%= link_to 'Edit', edit_ventaunidad_path(@ventaunidad) %> |
<%= link_to 'Back', ventaunidads_path %>
