

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @folder.nombre %>
</p>

<p>
  <strong>Id padre:</strong>
  <%= @folder.id_padre %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>







