<p id="notice"><%= notice %></p>

<h1>Listing Seccions</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seccions.each do |seccion| %>
      <tr>
        <td><%= seccion.nombre %></td>
        <td><%= seccion.url %></td>
        <td><%= link_to 'Show', seccion %></td>
        <td><%= link_to 'Edit', edit_seccion_path(seccion) %></td>
        <td><%= link_to 'Destroy', seccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seccion', new_seccion_path %>
