<style type="text/css">
    
#email{

    color:#19af91;

}


</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Team</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            App Views
        </li>
        <li class="active">
            <strong>Team</strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-4">
        <div class="contact-box">
            <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
            <div class="col-sm-4">
               
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/raul.png') %>">
                    <div class="m-t-xs font-bold">Owner</div>
                
            </div>
            <div class="col-sm-8" >
                <h3><strong>Raul Sanchéz</strong></h3>
                <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
                <address>
                    <strong>2b e-Commerce, Inc.</strong><br>
                   
                    <abbr title="Phone"></abbr> 
                </address>
            </div>
            <div id="email" class="clearfix" style="text-align:center;"> r@2becommerce.com<br></div>
        </a>
    </div>
</div>
<div class="col-lg-4">
    <div class="contact-box">
        <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
        <div class="col-sm-4">
            <div class="text-center">
                <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/natalia.png') %>">
                <div class="m-t-xs font-bold">Owner</div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3><strong>Natalia Pérez</strong></h3>
            <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
            <address>
                <strong>2b e-Commerce, Inc.</strong><br>
                
                <abbr title="Phone"></abbr>
            </address>
        </div>
        <div id="email" class="clearfix" style="text-align:center;">nataliap@2becommerce.com<br></div>
    </a>
</div>
</div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/yoan.png') %>">
            <div class="m-t-xs font-bold">Owner</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Yoan Sánchez</strong></h3>
        <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone"></abbr>
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">y@2becommerce.com<br></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/abrahan128.png') %>">
            <div class="m-t-xs font-bold">Developer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Abrahan Mendoza</strong></h3>
       <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            
            <abbr title="Phone"></abbr>
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">abrahanm@2becommerce.com<br></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/rosendo.png') %>">
            <div class="m-t-xs font-bold">Manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Rosendo Mendoza</strong></h3>
        <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone"></abbr>
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">rosendo.mendoza@2becommerce.com<br></div>
</a>
</div>
        </div>

<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/armando.png') %>">
            <div class="m-t-xs font-bold">Designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Armando Barrios</strong></h3>
        <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>

            <abbr title="Phone"></abbr>
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">
            armandob@2becommerce.com<br></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/jesica.png') %>">
            <div class="m-t-xs font-bold">Web Analytics</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Jessicka Sanchez</strong></h3>
       <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
          
            <abbr title="Phone"></abbr>
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> jessickas@2becommerce.com<br></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/juan.png') %>">
            <div class="m-t-xs font-bold">Data Feeds</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Juan Monsalve</strong></h3>
        <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone"></abbr>
            
        </address>
    </div>
    <div  id="email" class="clearfix" style="text-align:center;"> juanf@2becommerce.com<br></div>
</a>
</div>
        </div>


      
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/nataliatoro.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Natalia Toro</strong></h3>
        <p style="opacity:0;"><i class="fa fa-map-marker"></i></p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> nataliat@2becommerce.com</div>
</a>
</div>
        </div>


<!--  
        
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/josemendez.png') %>">
            <div class="m-t-xs font-bold">Graphic Designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Jose Mendez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">jose.mendez@2becommerce.com<br></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/jose_diaz.png') %>">
            <div class="m-t-xs font-bold">Graphics Designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Jose Díaz</strong></h3>
        <p><i class="fa fa-map-marker"></i> Caracas|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">jose.diaz@2becommerce.com<br></div>
</a>
</div>
        </div>

<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/jonatan_moleiro.png') %>">
            <div class="m-t-xs font-bold">Audio Visual</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Jonathan Moleiro</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">jonathan.moleiro@2becommerce.com<br></div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/aleyanez.png') %>">
            <div class="m-t-xs font-bold">Web Content</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Alejandra Yanez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
           
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">alejandra.yanez@2becommerce.com<br></div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/anny.png') %>">
            <div class="m-t-xs font-bold">Web Content</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Anny Humphrey</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;">anny.humphrey@2becommerce.com<br></div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/beatriz_chacon.png') %>">
            <div class="m-t-xs font-bold">Planning</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Beatriz Chacón</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> beatriz.chacon@2becommerce.com</div>
</a>
</div>
        </div>


<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/adolfo_vallejo.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Adolfo Vallejo</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> adolfo.vallejo@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/daniel_alvarez.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Daniel Alvarez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> daniel.alvarez@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/enderson_orozco.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Enderson Orozco</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> enderson.orozco@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/enderson_orozco.png') %>">
            <div class="m-t-xs font-bold">Inventory Analysis</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Jessica Rodriguez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> jessica.rodriguez@2becommerce.com</div>
</a>
</div>
        </div>


<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/joel_enriquez.png') %>">
            <div class="m-t-xs font-bold">Data Analysis</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Joel Enriquez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> joele@2becommerce.com</div>
</a>
</div>
        </div>


<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/lisana_chacon.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Lisana Chacon</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> lisanac@2becommerce.com</div>
</a>
</div>
        </div>




<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/miguel_garcia.png') %>">
            <div class="m-t-xs font-bold">Graphich Design</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Miguel Garcia</strong></h3>
        <p><i class="fa fa-map-marker"></i> Caracas|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> miguel.garcia@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/miguel_rodriguez.png') %>">
            <div class="m-t-xs font-bold">Web Content</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Miguel Rodriguez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> miguelr@2becommerce.com</div>
</a>
</div>
        </div>





<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/miguel_valecillos.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Miguel Valecillos</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> miguel.valecillos@2becommerce.com</div>
</a>
</div>
        </div>


<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/natalia_toro.png') %>">
            <div class="m-t-xs font-bold">Customer Service</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Natalia Toro</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> nataliat@2becommerce.com</div>
</a>
</div>
        </div>






<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/oscar_gonzales.png') %>">
            <div class="m-t-xs font-bold">Retails</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Oscar Gonzales</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> oscar.gb@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/rossibel_toro.png') %>">
            <div class="m-t-xs font-bold">Developer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Rossibel Toro</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> rossibel.toro@2becommerce.com</div>
</a>
</div>
        </div>




<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/sic.png') %>">
            <div class="m-t-xs font-bold">Graphic Design</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Sic Rodriguez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> sic.elyberth@2becommerce.com</div>
</a>
</div>
        </div>



<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/victor_alfonso.png') %>">
            <div class="m-t-xs font-bold">Manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Victor Alfonso</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> victor.osorio@2becommerce.com</div>
</a>
</div>
        </div>




<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/victoria_sequera.png') %>">
            <div class="m-t-xs font-bold">Moda</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Victoria Sequera</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> victoria.sequera@2becommerce.com</div>
</a>
</div>
        </div>




<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/yala.png') %>">
            <div class="m-t-xs font-bold">Web Content</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Yala Hernandez</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> yala@2becommerce.com</div>
</a>
</div>
        </div>


<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('2bteam/yuleidis.png') %>">
            <div class="m-t-xs font-bold">Illustrations</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Yuleidis Chirino</strong></h3>
        <p><i class="fa fa-map-marker"></i> Barquisimeto|VZLA</p>
        <address>
            <strong>2b e-Commerce, Inc.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div id="email" class="clearfix" style="text-align:center;"> yule.chirino@2becommerce.com</div>
</a>
</div>
        </div>



-->






        </div>
        </div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>

