<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @sku.productid %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @sku.sku %>
</p>

<p>
  <strong>Variant1:</strong>
  <%= @sku.variant1 %>
</p>

<p>
  <strong>Variant2:</strong>
  <%= @sku.variant2 %>
</p>

<p>
  <strong>Variant3:</strong>
  <%= @sku.variant3 %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @sku.ean %>
</p>

<p>
  <strong>Retailprice:</strong>
  <%= @sku.retailprice %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @sku.saleprice %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @sku.cost %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @sku.inv %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @sku.classification %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @sku.brand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @sku.weight %>
</p>

<%= link_to 'Edit', edit_sku_path(@sku) %> |
<%= link_to 'Back', skus_path %>
