<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @documento.nombre %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @documento.autor %>
</p>



<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
