<p id="notice"><%= notice %></p>

<p>
  <strong>Anual:</strong>
  <%= @payment.anual %>
</p>

<p>
  <strong>Ultimomes:</strong>
  <%= @payment.ultimomes %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @payment.porcentaje %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
