<style type="text/css">
  
  .product-image{
    width: 200px;
    height: 350px;
  }

</style>




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Products</strong>
            </li>
            <li>
              <%= link_to 'Add Product', new_product_path %>

            </li>
            <li>
              
                <strong><%= link_to 'Excel Download', products_path(:format => :xls), class: "btn btn-xs btn-outline btn-success" %></strong>

            </li>
            <li >
                <a href="/products/jsontodb" class="btn btn-xs btn-outline btn-primary">Import of Shopify</a>
            </li>

        </ol>

        <ol class="breadcrumb">

        </ol>
    </div>
    <div class="col-lg-2">
            
         
    </div>
</div>

<br>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

            <% @products.each do |product| %>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                           
                           
                  
                    <% if product.imagen1 == nil %>

                    <img alt="image"  class: "product-image"  src="<%= image_url 'maniki.jpg' %>" style="width:200px; height:350px;"/>

                    <%else%>
                   
                    <img alt="image"  class: "product-image"  src="<%= product.imagen1 %>" style="width:200px; height:350px;"/>
                    <%end%>

                        <div class="product-desc">

                                    <span class="product-price">
                                      153.50 $
                                    </span>
                            <small class="text-muted">Category</small>
                            <% if can? :read, product %>
                              <%= link_to product.title, product, class: "product-name", id: product.id %>
                            <% end %>
                           

                            <div class="small m-t-xs">
                                <%= product.description %>
                            </div>

                            <div class="m-t text-righ">

                                <p style="text-align:center;"><a href="#" class="btn btn-xs btn-outline btn-primary"><%= product.product_type %>  </a>

                                <a href="#" class="btn btn-xs btn-outline btn-warning"><%= product.vendor %>  </a>

                                <% if can? :destroy, product %>
                                    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure in delete this product' }, class: "btn btn-xs btn-outline btn-danger" %></p>
                                <% end %>
                               
                              <hr>
                              
                               <p style="text-align:center;"><%= localize(product.updated_at, :format => :long) %></p>

                              




                            </div>


                        </div>
                    </div>
                </div>
            </div>



<script>
/*var idnew = "titulo-" + <%= product.id %>;
$("#titulo").attr("id", idnew);*/

var proid = <%= product.id %>;

var yourString = $("#"+proid).text();
//var idnew = "titulo-" + <%= product.id %>

//replace with your string.
var maxLength = 14 // maximum number of characters to extract

//trim the string to the maximum length
var trimmedString = yourString.substr(0, maxLength);

//re-trim if we are in the middle of a word




    

    $("#"+proid).text(trimmedString);

    //$("#titulo").attr("id", idnew);


//alert(yourString);

</script>

            <% end %>

           
      </div>
  </div>





<div class="col-lg-6" >
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file, class: "form-control", :style => "padding-bottom:40px; margin-bottom:10px;"  %>
  <%= submit_tag "Import", class: "btn btn-primary col-lg-12", :style => "", :onclick => 'validarFile();'  %>
<% end %>

</div>


  <br><br><br><br><br><br><br><br>


<script>
    
    var file = document.getElementById('file');



    function validarFile(){

        if(file.value == ""){
            alert("Debe seleccionar un archivo a importar");
            
        }


    }

</script>


