<%= form_for(@archivofolder) do |f| %>
  <% if @archivofolder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archivofolder.errors.count, "error") %> prohibited this archivofolder from being saved:</h2>

      <ul>
      <% @archivofolder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2 style="margin-left:15px;"><i class="fa fa-plus" aria-hidden="true"></i>
  Agregar Archivo</h2>
  <div class="col-lg-12">
    
    <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre" , :required => true %>
  </div>
  <div class="col-lg-12" style="margin-top:15px;">

    <%= f.text_field :autor, class: "form-control", placeholder: "Autor" , :required => true %>
  </div>
  <% if @p == 'showroom' %>
  <div class="col-lg-12" style="margin-top:15px;  display:none;" >

    <%= f.text_field :showroom_id, class: "form-control" , value: @num  %>
  </div>
  <%elsif%>
  <div class="col-lg-12" style="margin-top:15px; display:none;">

    <%= f.text_field :folder_id, class: "form-control" , value: @p  %>
  </div>
  <%end%>

  <div class="col-lg-12" style="margin-top:15px;">

    <%= f.file_field :filefolder, class: "form-control", :style => "padding-bottom:40px; margin-bottom:10px;", :required => true %>
  </div>

  <div class="col-lg-12" style="margin-top:15px;">
  <%= submit_tag "Subir", class: "btn btn-primary col-lg-3"  %>

  <a href="/folders/1" class="btn btn-warning col-lg-3">Atrás</a>
  </div>
<% end %>
